/*Стилізація проєкта -*/
/*index.html - всі блоки з user - по 2 в рядок. кнопки/посилання розташувати під інформацією про user.*/

#usersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.userDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
    height: 120px;
    border: 2px solid black;
    margin-top: 20px;
}

.userDiv > p {
    margin: 0;
}

.userDiv > a {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 5px;
}
/*user-details.html - блок з інфою про user зверху сторінки. Кнопка нижче, на 90% ширини сторінки, по центру.*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#userDetails {
    width: 90%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    width: 90%;
    height: 50px;
    margin-top: 20px;
}

/*блоки з короткою інфою про post - в ряд по 5 .*/

#userPost {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postDiv {
    height: 150px;
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border: 1px solid black;
    text-align: center;
}

.postDiv > a {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: dimgray;
    border-radius: 5px;
}

/*post-details.html - блок з інфою про пост зверху. Коментарі - по 4 в ряд.*/

#postDetails {
    width: 96%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

#commentDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postClass {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 21%;
}

/*Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/

